
<div class="page-header">
  <h1>{{topic.name}}</h1>
</div>

<p>
<!--Aihealueen kuvaus tähän-->
 {{topic.description}}
</p>

<h2>{{messageCount}} viesti</h2>

<ul class="media-list">
  <li ng-repeat="message in topic.Messages" class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <a href="#/messages/{{message.id}}">Otsikko {{message.title}}</a>
      </h4>

      <p>
         Aihe, {{message.content}}
      </p>

      <p class="text-muted">
       Käyttäjä, {{message.User.username}},Aika ,{{message.createdAt}}
      </p>
    </div>
  </li>
</ul>



<div ng-if='userLoggedIn'>

<h2>Lisää oma viestisi</h2>

<form>
  <div class="form-group">
    <label>Otsikko</label>
    <input ng-model="newMessage.title" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Viesti</label>
    <textarea ng-model="newMessage.content" class="form-control"></textarea>
  </div>
  <button ng-click="addMessage(newMessage, topic.id)" class="btn btn-success">Lisää viesti</button>
</form>
</div>