
<div class="page-header">
  <h1>{{message.title}}</h1>
</div>

<p>
 {{message.content}}
</p>

<h2>{{replyCount}} vastaus</h3>

<ul class="media-list">
  <li ng-repeat="reply in message.Replies" class="media">
    <div class="media-body">
      <h4 class="media-heading">{{reply.User.username}}</h4>

      <p>
       {{reply.content}}
      </p>
      
      <p class="text-muted">
         {{reply.createdAt}}
      </p>
    </div>
  </li>
</ul>





<div ng-if='userLoggedIn'>
<h2>Lisää oma vastauksesi</h2>

<form>
  <div class="form-group">
    <label>Vastaus</label>
    <textarea ng-model="newReply.content" class="form-control"></textarea>
  </div>
  <button ng-click="addReply(newReply, message.id)" class="btn btn-success">Lisää vastaus</button>
</form>
</div>