
<div class="page-header">
  <h1>Kirjaudu sisään</h1>
</div>

<form>
  
  <form>
  <div  ng-show='errorMessage' class="form-group" >
    <h4 style='color:red'>{{errorMessage}}</h4>
  </div>

  
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input ng-model="user.username" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input ng-model="user.password" type="password" class="form-control">
  </div>

  <button ng-click="login(user)" class="btn btn-primary">Kirjaudu sisään</button>
</form>
