
<div class="page-header">
  <h1>Rekisteröidy</h1>
</div>

<form>
  
  <div ng-show='errorMessage' class="form-group">
    <h4 style='color:red'>{{errorMessage}}</h4>
  </div>

  
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input ng-model="user.username" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input ng-model="passwordConfirm" type="password" class="form-control">
  </div>

  <div class="form-group">
    <label>Salasana uudelleen</label>
    <input ng-model="user.password" type="password" class="form-control">
  </div>

  <button ng-click="register(user)" class="btn btn-success">Rekisteröidy</button>
</form>
